.header {
  font-size: 3rem;
  font-weight: 500;
  text-transform: uppercase;
  #letter-spacing: 0.1em;
  text-align: left;
  color: #1C1D21;
  margin: 0;
}

.header-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 500;
  color: #1C1D21;
  margin: 0;
  width: 100%;
}

.header-divider {
  width: calc(100% - 2rem);
  color: #1C1D21;
}

.header-container {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.header-texts {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.header-image {
  width: 100px;
  height: 100px;
  image-rendering: pixelated;
}



a.plain-link {
  text-decoration: none;
  color: inherit;
}

a.plain-link:visited {
  color: inherit;
}

a.plain-link:hover {
  color: #474747;
}

.catalog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;
}

.catalog-title {
  font-size: 2.5rem;
  font-weight: 500;
  text-transform: uppercase;
  #letter-spacing: 0.1em;
  text-align: center;
  color: #1C1D21;
  margin: 0 0 2rem 0;
  margin-right: 20rem;
}

.catalog-content {
  max-width: 800px;
  width: 100%;
  padding: 0 1rem;
}

.article-card {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.article-thumbnail {
  width: 150px;
  height: 100px;
  object-fit: cover;
  border: 2px solid red;
}

.article-details {
  flex: 1;
}

.article-title {
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #1C1D21;
  margin: 0 0 0.5rem 0;
}

.article-description {
  font-size: 1rem;
  color: #1C1D21;
  margin: 0 0 0.5rem 0;
}

.article-date {
  font-size: 0.9rem;
  color: #75798a;
  font-family: monospace;
}

.right-text {
  margin-right: 5rem;
}

body {
  background-color: #faefd4;
}
