---
import "../styles/global.css";

const openSourceText = "<open source>";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Creoo Testing Lab</title>
	</head>
  <body>
       <div class="header-container">
         <img src="/images/rune-1.png" alt="Rune" class="header-image">
         <div class="texts">
            <a href="/" class="plain-link"><h1 class="header">Creoo Testing Lab</h1></a>
            <div class="header-2">
              <span>Welcome to my laboratory, wanderer.</span>
              <span class="right-text">Testing text.</span>
            </div>
         </div>
       </div>

      <hr class="header-divider">
  </body>
</html>
