---
import "../styles/global.css";

const openSourceText = "<open source>";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Creoo Testing Lab</title>
	</head>
  <body>
      <div class="header-container">
        <img src="/images/rune-1.png" alt="Rune" class="header-image">
         <div class="header-texts">
            <a href="/" class="plain-link"><h1 class="header">Creoo Testing Lab</h1></a>
            <div class="header-2">
              <span>Welcome to my laboratory, wanderer.</span>
              <span class="right-text">Testing text.</span>
            </div>
          </div>
      </div>

       <hr class="header-divider">

       <div class="catalog-container">
         <h1 class="catalog-title">Featured Catalog</h1>
         <div class="catalog-content">
           <div class="article-card">
             <img src="/images/rune-1.png" alt="Article Thumbnail" class="article-thumbnail">
             <div class="article-details">
               <h3 class="article-title">Sample Article Title</h3>
               <p class="article-description">A brief description about the article covering topics like projects or world geopolitics.</p>
               <span class="article-date">November 14, 2024</span>
             </div>
           </div>

           <div class="article-card">
             <img src="/images/rune-1.png" alt="Article Thumbnail" class="article-thumbnail">
             <div class="article-details">
               <h3 class="article-title">Sample Article Title</h3>
               <p class="article-description">A brief description about the article covering topics like projects or world geopolitics.</p>
               <span class="article-date">November 14, 2024</span>
             </div>
           </div>

            <div class="article-card">
             <img src="/images/rune-1.png" alt="Article Thumbnail" class="article-thumbnail">
             <div class="article-details">
               <h3 class="article-title">Sample Article Title</h3>
               <p class="article-description">A brief description about the article covering topics like projects or world geopolitics.</p>
               <span class="article-date">November 14, 2024</span>
             </div>
           </div>

         </div>
       </div>
  </body>
</html>
