---
import "../styles/global.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Creoo Testing Lab</title>
	</head>
  <body>
      <div class="header-container">
        <img src="/images/rune-1.png" alt="Rune" class="header-image">
         <div class="header-texts">
            <a href="/" class="plain-link"><h1 class="header">Creoo Testing Lab</h1></a>
            <div class="header-2">
              <span>Welcome to my laboratory, wanderer.</span>
              <span class="right-text">
                <a href="/open-source" class="open-source-link"><span class="bracket-bold">&lt;</span>open-source<span class="bracket-bold">&gt;</span></a>
                <span class="version-text">v 0.0.1</span>
              </span>
            </div>
          </div>
      </div>

       <hr class="header-divider">

       <div class="main-content-wrapper">
         <aside class="sidebar">
           <a href="/art-wall" class="sidebar-item">
             <img src="/images/rune-1.png" alt="Art Wall" class="sidebar-image">
             <span class="sidebar-title">art wall</span>
           </a>
           <a href="/construction" class="sidebar-item">
             <img src="/images/rune-1.png" alt="Construction" class="sidebar-image">
             <span class="sidebar-title">construction</span>
           </a>
         </aside>

         <div class="catalog-container">
           <h1 class="catalog-title">Featured Catalog</h1>
           <div class="catalog-content">
             <a href="/about-site" class="article-link">
               <div class="article-card">
                 <img src="/images/rune-1.png" alt="Article Thumbnail" class="article-thumbnail">
                 <div class="article-details">
                   <h3 class="article-title">About this site</h3>
                   <p class="article-description">It's purpose, how it was made, and why it's on pause.</p>
                   <span class="article-date">November 21st, 2025</span>
                 </div>
               </div>
             </a>
           </div>
         </div>
       </div>

       <div class="catalog-link-container">
         <a href="/article-catalog" class="full-catalog-link">
           <span class="bracket-bold">≪</span> see full catalog <span class="bracket-bold">≫</span>
         </a>
       </div>
  </body>
</html>
