---
---

<div class="header-container">
  <img src="/images/rune-1.png" alt="Rune" class="header-image">
  <div class="header-texts">
    <a href="/" class="plain-link"><h1 class="header">Creoo Testing Lab</h1></a>
    <div class="header-2">
      <span>Welcome to my laboratory, wanderer.</span>
    </div>
  </div>
  <nav class="lc-header-icons">
    <a href="/art/" class="lc-header-btn">
      <img src="/images/rune-1.png" alt="Art" class="lc-header-btn-img" />
      <span class="lc-header-btn-label">art</span>
    </a>
    <a href="#" class="lc-header-btn">
      <img src="/images/rune-1.png" alt="About" class="lc-header-btn-img" />
      <span class="lc-header-btn-label">about</span>
    </a>
    <a href="https://github.com/kingcreoo/website" class="lc-header-btn">
      <img src="/images/rune-1.png" alt="Source" class="lc-header-btn-img" />
      <span class="lc-header-btn-label">source</span>
    </a>
  </nav>
</div>

<hr class="header-divider">
