---
---

<div class="header-container">
  <img src="/images/rune-1.png" alt="Rune" class="header-image">
  <div class="header-texts">
    <a href="/" class="plain-link"><h1 class="header">Creoo Testing Lab</h1></a>
    <div class="header-2">
      <span>Welcome to my laboratory, wanderer.</span>
    </div>
  </div>
  <nav class="lc-header-icons">
    <a href="/catalogue/" class="lc-header-btn lc-btn-catalogue">[catalogue]</a>
    <a href="/art/" class="lc-header-btn lc-btn-art">[art]</a>
    <a href="/articles/about-this-site/" class="lc-header-btn lc-btn-about">[about]</a>
    <a href="https://github.com/kingcreoo/website" class="lc-header-btn lc-btn-source">[source]</a>
  </nav>
</div>

<hr class="header-divider">
